body {
  margin-left: 75vh;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 70vh;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  border: 1px solid red;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.top p:nth-child(1) {
  margin-left: 30px;
  order: 1;
}
.top i:nth-child(2) {
  order: 2;
}
.top p:nth-child(3) {
  display: flex;
  order: 2;
  justify-content: center;
}

.top p:nth-child(4) {
  order: 3;
  justify-content: right;
}
.top i:nth-child(5) {
  order: 3;
  justify-content: right;
}
.top i:nth-child(6) {
  order: 3;
  margin-left: -70px;
  justify-content: right;
}

.Friends {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  border: 1px solid blue;
}
.Friends {
  flex: 2;
  display: flex;
  align-items: center;
}

.Friends i {
  margin-left: auto;
}
.display {
  flex: 3;
  display: flex;
  border: 1px solid blue;
  width: 100%;
  height: 10%;
}
.name {
  flex: 4;

  display: flex;
  width: 100%;
  height: 10%;
  border: 1px solid blue;
}
.channel {
  flex: 5;

  display: flex;
  width: 100%;
  height: 10%;

  border: 1px solid blue;
}
.list {
  flex: 6;

  display: flex;
  width: 100%;
  height: 10%;

  border: 1px solid blue;
}
.bottom {
  flex: 7;

  display: flex;
  width: 100%;
  height: 10%;

  border: 1px solid blue;
}
